<div>
    <app-todolist></app-todolist>

    <!-- ============================================== BACKGROUND EFFECT ================================================ -->

    <div class="wrapper">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>

    <!-- ============================================== BACKGROUND BLOB ================================================ -->
    <div
        class="sm:h-48 md:w-60 md:h-60 lg:w-80 lg:h-80 bg-[#A427DF] absolute top-0 -left-5 -z-10 blur-2xl opacity-30 overflow-hidden rounded-full bg">
    </div>
    <div
        class="sm:h-48 md:w-60 md:h-60 lg:w-80 lg:h-80 bg-[#ff7d3b] absolute bottom-10  right-0 -z-10 blur-2xl opacity-30 overflow-hidden rounded-full bg">
    </div>


</div>